@charset "UTF-8";
@import "./variables.scss";

body {
    background: linear-gradient(rgb(205, 236, 247),rgb(103, 164, 255));
    background-attachment:fixed;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

* {
    font-family: "Geneva";
    font-family: "Calibri";
    font-family: "Optima";
    font-family: "Cambria";
    font-family: "Perpetua";
    font-family: "Cambria";
    font-family: "Lucida Bright";
    font-family: "Helvetica, 'Times New Roman', Arial, serif";
}

input[type="submit"] {
    background-color: white;
    padding: 3px 7px;
    border: 1px solid rgb(99, 99, 99);
    font-size: .9em;
    border-radius: 7px;
    margin: 0 auto;
}

input[type="text"], input[type="password"], textarea, select {
    background-color: transparent;
    background-color: rgb(233, 233, 233);
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-size: .9em;
    &:focus{
        outline: none;
    }
}
input[type="text"], input[type="password"], select {
    height: 24px;
}

select {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: sticky;
    top: 0;
    padding: 3px 15px;
    background: $header-footer-bg;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    color: white;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    align-items: center;

    .hedearLeft {
        display: flex;
        align-items: center;
        .logoAnchor{
            height: 40px;
            img.logo {
                width: 40px;
            }
        }
        
        .colmnFlex {
            margin-left: 10px;
            h3 {
                margin: 0;
                margin-top: 7px;
            }
        }
    }

    .hedearRight {
        display: flex;
        align-items: center;
        a {
            border-bottom: 1px solid white;
            box-sizing: border-box;
            margin: 0 7px;
            display: flex;
            align-items: center;
            color: white;
            padding: 2px 5px;
            svg {
                margin-right: 5px;
                margin-bottom: 3px;
            }

        }
        a, .help {
            &:hover {
                border-bottom: 1px solid #FF008A;
                color: #FF008A;
                path {
                    fill: #FF008A;
                }
            }
        }

        .help {
            height: 20px;
            margin-right: 5px;
            &:hover {
                border-bottom: none;
            }
        }
    }
}

.instructionBG {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;

    .window {
        position: sticky;
        top: 80px;
        margin: 0 auto;
        padding: 10px 50px 20px;
        width: 65%;
        background-color: rgba(140, 172, 235, 0.7);
        border: 1px solid rgb(134, 136, 241);
        box-sizing: border-box;
        border-radius: 7px;
        .x {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 12px;
            height: 12px;
            border: 2px #7777ff solid;
            border-radius: 3px;
            padding: 2px;
            box-sizing: content-box;
            img {
                width: 100%;
                margin-bottom: 100%;
            }
        }

        h2 {
            text-align: center;
        }

        h3 {
            margin-bottom: 5px;
        }
        .thumbUp {
            display: flex;
            align-items: center;
            svg {
                margin: 0 0 3px 3px;
                
            }
        }
    }
}

.container {
    padding: 15px;
    border: $containerBorder;
    background-color: rgb(220, 240, 255);
    background-color: $containerBg;
    margin: 30px auto 0;
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $footer-bg;
    padding: 10px 0;
    color: white;
    div {
        width: fit-content;
        margin: 0 auto;
        font-size: 0.8em;
    }
}