@import "../css/variables.scss";

$width:120px;
$marginRight: 5px;
$anchorBg:rgb(80, 80, 255);

body {
    padding-bottom: 70px;
}

ul.dataList {
    list-style: none;
    margin: 30px auto 0;
    padding: 0;
    width: 60%;

    li {
        display: flex;
        justify-content: space-between;
        margin: 4px 0;
        padding: 4px;
        .liRight {
            display: flex;
            padding: 3px;
            text-align: center;
            .liCategory, .liTime {
                width: $width;
            }
            .liCategory {
                margin-right: $marginRight;
            }
        }
    }

    .topLi {
        margin: 0;
        padding: 0;
        align-items: center;
        .search {
            display: flex;
            align-items: center;
            img {
                width: 20px;
            }
            input[type="text"]{
                margin-left: 5px;
            }
        }
        .add:hover {
            a {
                color: blue;
            }
            path {
                fill: blue;
            }
        }
    }

    ////////////////// Caption //////////////////
    $liCaptionBG:linear-gradient(rgb(126, 126, 126),rgb(56, 56, 56));
    .liCaption {
        background:$liCaptionBG;
        position: relative;
        select {
            background-color: rgb(148, 148, 148);
            width: $width;
            color: white;
            option {
                background-color: rgb(56, 56, 56);
            }
        }
        select[name='category'] {
            margin-right: $marginRight;
        }
        select[name='alphabetically'] {
            width: 200px;
        }
        
        .divSubmit {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            display: none;
            align-items: center;
            width: fit-content;
            height: 23px;

            input[type="submit"] {
                width: 25px;
                height: 100%;
                background: url("../assets/svg/delete2.svg");
                background-size: 70%;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 3px;
                border: none;

            }
            .divSubmitRight {
                margin-left: 10px;
                display: none;
                color: rgb(231, 231, 231);
            }
        }

        .liLeft {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }
        .liRight {
            margin: 0;
        }
    }
    
    ////////////////// dataLi //////////////////
    
    .dataLi {
        background: $containerBg;
        .liCategory, .liTime {
            background: rgb(212, 227, 255);
            box-sizing: border-box;
        }
        mark {
            background-color: rgb(255, 145, 0);
            color: rgb(255, 255, 255);
        }
        .liLeft {
            padding-left: 5px;
            margin-left: 5px;
            border-left: 1px dotted black;
            .liLeftTop {
                display: flex;
                align-items: center;
                
                .editDeleteAnchor {//a
                    position: relative;
                    margin-left: 10px;
                    .editDelete {
                        display:none;
                        position: absolute;
                        left: 0;
                        top: -50px;
                        path {
                            fill:grey;
                        }
                    }
                }

                a:hover {
                    svg {
                        fill: blue;
                    }
                }

                .liTerm, .termTemp {
                    border-radius: 5px;
                    background: linear-gradient(30deg,rgb(42, 189, 176),rgb(109, 109, 247)) ;
                    color: rgb(255, 255, 255);
                    padding: 5px;
                    width: fit-content;
                    font-size: 1.2em;
                }
            }
            .liDefinition, .definitionTemp {
               overflow-wrap: anywhere;
               margin-right: 10px;
            }
        
        }
        .liRight {
            margin-left: auto;
            min-width: 245px;
            
            .liTime {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
    
            .liCategory {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .noHit {
        display: none;
        text-align: center;
    }

    .noData {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}