@import "../css/variables.scss";

$anchorBg:rgb(80, 80, 255);
body {
    padding-bottom: 70px;
}

ul.dataList {
    list-style: none;
    // width: fit-content;
    // min-width: 800px;
    // max-width: 90%;
    margin: 0 auto;
    padding: 0;

    width: 60%;


    li {
        //min-width: 300px;
        justify-content: space-between;
        margin: 4px 0;
        padding: 4px;
        /* position: relative; */
        display: flex;
        // justify-content: space-between;
        .liRight {
            display: flex;
            /* position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0; */
            
            min-width: 70px;
            padding: 3px;
            //margin-right: 3px;
            //margin-left: auto;
        
            text-align: center;
            .liCategory, .liTime {
                width: 120px;
                
            }
            .liCategory {
                
                margin-right: 5px;
                
            }
    
            
        }
        
         
        
    }

    .noData {
        div {
            margin: 0 auto;
        }
    }
    .topLi {
        //background: none;
        margin: 0;
        padding: 0;
        //border: none;
        //width: 100%;
        //display: flex;
        //justify-content: space-between;
        .anchor {
            margin: 0;
            padding: 0;
            border: none;
                input[type="text"]{
                    margin-left: 5px;
                }
            }
            .anchor:hover {
                //background-color: $anchorBg;
                a {
                    color: blue;
                }
                path {
                    fill: blue;
                }
            }
        .search:hover {
            background-color: transparent;
        }
        
        
    }


    ////////////////// Caption //////////////////
    //$liCaptionBG:rgb(109, 109, 109);
    $liCaptionBG:linear-gradient(rgb(126, 126, 126),rgb(56, 56, 56));
    .liCaption {
        //justify-content: space-between;
        background:$liCaptionBG;
        position: relative;
        //border: none;

        select {
            background-color: rgb(148, 148, 148);
            width: 100%;
            color: white;
            //border-bottom: 1px solid white;
            option {
                background-color: rgb(56, 56, 56);
            }
        }
        
        .divSubmit {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;
            display: none;
            align-items: center;
            width: fit-content;
            height: 23px;
            //background-color: rgba(168, 29, 29, 0.5);

            .divSubmitLeft {
                padding: 2px;
                width: 25px;
                height: 100%;
                background: url("../assets/svg/delete2.svg");
                background-size: 70%;
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 3px;
                input[type="submit"] {
                    
                    border: none;
                    width: 100%;
                    height: 100%;
                    
                    background: transparent;
                }
                // img {
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     height: 100%;
                //     z-index: -1;
                // }

            }
            .divSubmitRight {
                margin-left: 10px;
                //background-color: rgba(8, 141, 15, 0.5);
                display: none;
                color: rgb(231, 231, 231);
            }

        }

        
        .liLeft {
            //margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            //border: none;
            
        }
        .liRight {
            margin: 0;
            .liCategory {
                
                
            }
        
        }
    }
    ////////////////// Caption //////////////////




    ////////////////// dataLi //////////////////
    
    .dataLi {
        background: $containerBg;
        border: $containerBorder;
        border: none;
        //background: rgb(241, 239, 255);
        // border: none;
        .liWord, .wordTemp, .liCategory, .liTime {
            
            // background: rgba(116, 116, 255, 0.5);
            //border-radius: 5px;
            background: rgb(212, 227, 255);
            //border: 1px solid white;
            box-sizing: border-box;
           
        }
        .liWord, .wordTemp {
            
            // background: rgb(117, 117, 255);
            border-radius: 5px;
            background: linear-gradient(30deg,rgb(42, 189, 176),rgb(109, 109, 247)) ;
            color: rgb(255, 255, 255);
            
            
        }
        mark {
            background-color: rgb(255, 145, 0);
            color: rgb(255, 255, 255);
        }
        .liLeft {
            padding-left: 5px;
            margin-left: 5px;
            border-left: 1px dotted black;
            .liLeftTop {
                display: flex;
                align-items: center;
                
    
                a {
    
                    margin-left: 10px;
                    
                }

                a:hover {
                    svg {
                        fill: blue;
                    }
                }

                .editDelete {
                    display:none;
                    position: relative;
                    svg {
                        position: absolute;
                        left: -15px;
                        top: -50px;
                        path {
                            fill:grey;
                        }
                    }
                }
                
                /* position: absolute; */
                .liWord, .wordTemp {
                
                    padding: 5px;
                    width: fit-content;
                    font-size: 1.2em;
                }
            }
            .liMeaning, .meaningTemp {
                
               //margin-right: 30px;
               overflow-wrap: anywhere;
               margin-right: 10px;
            }
        
        }
        .liRight {
            
            margin-left: auto;
            min-width: 245px;
            
            .liTime {
                display: flex;
                flex-direction: column;
                justify-content: center;
                
            }
    
            .liCategory {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                align-items: center;
                
                
            }
    
        }
        
    }
    
    
    
    
    

}    







