form {
    width: 80%;
    min-width: 200px;
    max-width: 500px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);

    input, label {
        display: block;
    }

    textarea, input[type="text"] {
        width: 100%;
        box-sizing: border-box;
    }
    
    label, .inputFlex, input[type="submit"] {
        margin-top: 20px;
    }

    .inputFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .flexChild {
            width: 42%;
            min-width: 170px;
            padding: 5px;
            border-radius: 5px;

            select, input[type="text"]{
                width: 100%;
            }
            input[type="radio"], label {
                display: inline;
            }
        }
    }
}// form

@media only screen and (max-width: 1125px) {

    form {

        .inputFlex {
            flex-direction: column;
            
            div:nth-child(2) {
                opacity: 0;
            }
        }
    }
}