.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

body {
  margin: 0;
}

.quizContainer {
  position: relative;
  margin: 50px auto 0;
}
.quizContainer .bar {
  position: relative;
  width: 0;
  height: 5px;
  background-color: rgb(38, 0, 255);
  transition: width cubic-bezier(0, 1, 0.5, 1) 0.5s;
}
.quizContainer .bar .pageNum {
  position: absolute;
  right: 0;
  bottom: 3px;
}
.quizContainer .start {
  position: absolute;
  z-index: 222;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}
.quizContainer #next {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(220, 20, 60, 0.671);
}
.quizContainer #next div {
  position: absolute;
  bottom: 0;
  right: 15px;
  animation-name: blinking;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quizContainer .result {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f2f9ff;
  text-align: center;
  padding: 15px 15px 25px;
  border: 1px solid #b6dcff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 50px 0;
  padding-bottom: 0;
}
.quizContainer .result .score {
  padding: 5px 10px;
  background-color: #b9d3ec;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 3px;
}
.quizContainer .result .score .score1, .quizContainer .result .score .score2 {
  animation-name: showup1;
  animation-duration: 1.5s;
}
.quizContainer .result .score .score2 {
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
@keyframes showup1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.quizContainer .result .resultGrid {
  display: grid;
  grid-template-columns: 160px auto;
  grid-template-rows: repeat(3, auto);
  gap: 10px 0;
  text-align: start;
  align-items: center;
  margin: 30px 0;
  background-color: #cee1f3;
  border-radius: 5px;
  padding: 5px 15px;
}
.quizContainer .result .resultGrid .resultDiv {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  align-items: center;
}
.quizContainer .result .resultGrid .resultDiv img {
  width: 15px;
  margin-right: 10px;
}
.quizContainer .quiz_area {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  min-width: 600px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f2f9ff;
  text-align: center;
  padding: 15px 15px 25px;
  border: 1px solid #b6dcff;
  border-radius: 5px;
  box-sizing: border-box;
}
.quizContainer .quiz_area .move2next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.quizContainer .quiz_area .move2next div {
  position: absolute;
  bottom: 5px;
  right: 15px;
  animation-name: blinking;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quizContainer .quiz_area .options {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.quizContainer .quiz_area .options .option {
  padding: 15px;
  margin: 15px auto;
  border: 1px #a5c9ec solid;
  border-radius: 5px;
  background: #dae8f7;
}
.quizContainer .quiz_area .options .option .optionFlex {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.quizContainer .quiz_area .options .option .optionFlex .cross, .quizContainer .quiz_area .options .option .optionFlex .check {
  z-index: 0;
  width: 15px;
  margin-right: 10px;
}
.quizContainer .quiz_area .options .option .optionFlex span {
  margin-right: 25px;
}/*# sourceMappingURL=practice.css.map */