@charset "UTF-8";
@import "../css/variables.scss";

.invisible {
    visibility: hidden;
}

@mixin area {
    display: none;
    background-color: #f2f9ff;
    text-align: center;
    padding: 15px 15px 25px;
    border: 1px solid #b6dcff;
    border-radius: 5px;
    box-sizing: border-box;
}

.quizContainer {
    position: relative;
    margin: 50px auto;
    width: 90%;
    max-width: 700px;
    box-sizing: border-box;

    .bar {
        position: relative;
        width: 0;
        height: 5px;
        background-color: rgb(38, 0, 255);
        transition: width cubic-bezier(0,1,.5,1) .5s;

        .pageNum {
            position:absolute;
            right:0;
            bottom:3px;
        }
    }

    .result {
        @include area;
        position: relative;

        a {
            position: absolute;
            top: -25px;
            right: 10px;
            padding: 2px 10px;
            border-radius: 3px;
            transition: all .3s ease-in-out;
            text-decoration: underline;
            &:hover {
                color: #ffffff;
                background-color: rgb(0, 0, 168);
            }
        }
        .score {
            padding: 5px 10px;
            background-color: #b9d3ec;
            width: fit-content;
            margin: 0 auto;
            border-radius: 3px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            span {
                .score1, .score2{
                    animation-name: showup1;
                    animation-duration: 1.5s;
                }
                .score2{
                    animation-delay: .5s;
                    animation-fill-mode: both;
                }
            }
            @keyframes showup1{
                from{
                    opacity: 0;
                }
                to{
                    opacity: 1;
                }
            }
        }
        .resultDiv {
            margin: 30px 0;
            background-color: #cee1f3;
            border-radius: 5px;
            padding: 5px 15px;

            .question {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                img {
                    width: 15px;
                    margin: 10px;
                }
            }
            .answer {
                text-align: start;
                display: flex;
                flex-wrap: wrap;
                margin-top: 10px;
                span:first-child {

                    text-decoration: underline;
                    white-space: nowrap;
                    display: inline-block;
                    width: 120px;
                    margin-right: 10px;
                }
            }
        }
    }

    .quiz_area {

        @include area;
        width: 100%;
        
        @keyframes blinking{
            0% {opacity:1;}
            50% {opacity:0;}
            100% {opacity:1;}
        }
        .move2next {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            padding: 10px;
            box-sizing: border-box;
            display: none;
            justify-content: end;
            align-items: end;
            animation-name:blinking;
            animation-duration: 1.2s;
            animation-timing-function: linear;
            animation-iteration-count:infinite;
        }

        .options {
            width: fit-content;
            margin: 0 auto;

            .option {
                cursor: pointer;
                padding: 15px 0;
                margin: 15px auto;
                border: 1px #a5c9ec solid;
                border-radius: 5px;
                background: #dae8f7;
                display: flex;
                align-items: center;
                justify-content: center;

                .cross, .check {
                    z-index: 0;
                    width: 15px;
                    margin: 0 10px;
                }
                span {
                    margin-right: 35px;
                }
            }
        }
    }
}