// $containerBg: rgba(135, 135, 255, 0.5);
$containerBg: rgba(255, 255, 255, 0.9);
$containerBorder: none;
$containerBorder: 1px solid rgb(118, 147, 241);

// $containerBg: rgba(135, 135, 255, 0.5);
$header-footer-bg :#2023ca;
$header-footer-bg :linear-gradient(90deg, black,blue, black);
$footer-bg :linear-gradient(90deg, black,blue, black);